DISCORD_BOT_TOKEN=
ADMIN_ROLE_ID=
ROLE_TO_ASSIGN_ID=
STATUS_REGEX=\.gg/milk
COMMAND_PREFIX=!
EMBED_TITLE=Rep MilkJug for perks!
EMBED_DESCRIPTION="<:MJ_glow_bluedot:881915573003509790>Rep `.gg/balls` in your status and click the reaction below.\nIn exchange, we'll give you a role with link and pic perms!"
REACTION_EMOJI=📜

WATCHLIST_CHECK_INTERVAL=5  # in seconds