module.exports = {
  "BOT_TOKEN": "",
  "HIDE_DEBUG": false,

  "GUILD_ID_1": {
    roleId: "ROLE_ID_FOR_GUILD_1",
    channelId: "CHANNEL_ID_FOR_GUILD_1",
    regex: /\.gg\/sample/i, // checks for ".gg/sample"
    plaintext: ".gg/sample" // plaintext version of the regex to be displayed in embeds
  },
  "GUILD_ID_2": {
    roleId: "ROLE_ID_FOR_GUILD_2",
    channelId: "CHANNEL_ID_FOR_GUILD_2",
    regex: /\.gg\/sample/i,
    plaintext: ".gg/sample"
  },
};
